*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    font-family: "Inter", sans-serif;;
    background-color: #FDFDFD;
}
nav{
    margin-top: 10px;
    background-color: white;
    font-weight: 700;
    ul{
        width: 100%;
        list-style: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    
    }
    li{
        height: 50px;
    }
    a{
        height: 100%;
        padding: 0 30px;
        text-decoration: none;
        display: flex;
        align-items: center;
        color: black;
    }
    a:hover{
        background-color: #f0f0f0;
    }
    li:first-child{
        margin-right: auto;

    }
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh; 
    width: 250px;
    z-index: 999;
    font-weight: 700;
    background-color: #F26935;
    border: 2px #2C2C2C solid;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: -6px 4px 0px #2C2C2C;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    li{
        width: 100%;  
    }
    a{
        width: 100%;
    }
    a:hover{
        border-radius: 18px;
    }
}
@media(max-width: 800px){
    .hideOnMobile{
        display: none;
    }
    .video-watch{
        padding: 8px;
    }
}
.video-watch {
    padding-top: 30px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    .box-container{
        .box {
            background: #ffaa00;
            box-shadow: -6px 4px 0px #2c2c2c;
            border-radius: 20px;
            border: 4px #2c2c2c solid;
            padding: 20px;
            .header-box {
                margin-bottom: 20px;
                font-size: 18px;
                font-family: "Inter", sans-serif;
                font-weight: 800;
                align-self: flex-start;
                
            }
            .thumb {
                width: 100%;
                height: auto;
                aspect-ratio: 16 / 9;
                margin-bottom: 25px;
              }   
        }
    }
  .box-container2 {
    margin-bottom: 20px;
    .box2 {
        background: #FFDD00;
        box-shadow: -6px 4px 0px #2c2c2c;
        border-radius: 20px;
        border: 4px #2c2c2c solid;
        padding: 20px;

        .header-box2 {
            text-align: center;
            font-weight: 800;
          }
          .message {

            margin-top: 15px;
          }
          h4{
            font-weight: 600;
          }
      }
  }
  .buttons{
    margin-top: 40px;
    margin-bottom: 100px;
    margin-right: 40px;
    display: flex;
    align-self: flex-end;
    
    .btn1 {
        background: #FFAA00;
        color: #2C2C2C;
        font-size: 15px;
        font-weight: 600;
        box-shadow: -3px 4px 0px #2C2C2C;
        border-radius: 15px;
        border: 2px #2C2C2C solid;
        padding: 10px 20px;
        text-decoration: none;
        align-self: flex-end;
        transition: background-color 0.3s ease;
        
    }
    .btn2 {
        background: #FF7B00;
        color: #2C2C2C;
        font-size: 15px;
        font-weight: 600;
        box-shadow: -3px 4px 0px #2C2C2C;
        border-radius: 15px;
        border: 2px #2C2C2C solid;
        padding: 10px 20px;
        text-decoration: none;
        align-self: flex-end;
        transition: background-color 0.3s ease;
        margin-left: 15px;
    }
    .btn1:hover {
        background-color: #FFF08D;
        box-shadow: -6px 3px 0px #2C2C2C;
    }
    .btn2:hover {
        background-color: #FFF08D;
        box-shadow: -6px 3px 0px #2C2C2C;
    }

  }
  
  
  
  @media only screen and (min-width: 600px) {
    .video-watch {
      flex-direction: row;
    }
  
    .box-container,
    .box-container2 {
      margin-right: 20px;
      flex: 1;
    }
  }
}
        
